<div padding-right="30px" padding-left="30px;">
<p-table styleClass="borderless" #my id="tt" [columns]="cols" [value]="trades"  selectionMode="single"  [(selection)]="selectedrow"    datakey="trade_id"
    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" 
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
    [paginator]="true" [filterDelay]="0" [scrollable]="true" scrollHeight="400px" class="table table-hover table-responsive table-bordered" [responsive]="true">
    <ng-template pTemplate="caption">
        <div style="text-align: right">        
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText  placeholder="Search Here" (input)="my.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns >
        <tr >
            <th  *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>

   
<ng-template pTemplate="body" let-rowData let-columns="columns">
     
        <tr  [pSelectableRow]="rowData">
                 <td style="color:black;" *ngFor="let col of columns">
                    {{rowData[col.field]}}
            </td>
        </tr>
     
    </ng-template>
 
  </p-table>
</div>
